<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="agenda.css">
    <meta charset="UTF-8">
    <title>Contacts Agenda</title>
  </head>
  <body>
    <h1>Contacts Agenda</h1>
    {% if result %}
    {% for contact in result %}
        {{ contact.id }} <br/>
        {{ contact.name }} <br/>
        {{ contact.address }} <br>
        {% endfor %}
    {% endif %}
    <div id="add-contact">
      <h2>Add Contact</h2>
      <form method="POST" action="/add_contact">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter name">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter email">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="Enter address">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" placeholder="Enter phone">
        <input type="submit" value="Add Contact">
      </form>
    </div>
  </body>
</html>
