      /* General styles */
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
      }
      h1, h2 {
        text-align: center;
        color: #333;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
      li {
        margin-right: 20px;
      }
      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: color 0.3s ease;
      }
      a:hover {
        color: #0077cc;
      }
      /* Add Contact form styles */
      #add-contact {
        width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
      }
      #add-contact h2 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #333;
      }
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #333;
      }
      input[type="text"], input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
      input[type="submit"] {
        background-color: #0077cc;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }
      input[type="submit"]:hover {
        background-color: #005ea8;
      }
